@media (min-width:510px) and (max-width:860px) 
{
    .linkPrincipal a {
        display:none;
    }

    .Hamburger > a:hover .menuDeslizante  {
        display: block;
       
    }

    .Hamburger {
        position:absolute;
        right:0;
        margin-right:30px;
        top:50%;
        transform: translateY(-50%);
    }

    div.Hamburger span{
        height:5px;
        width:30px;  
        border-radius:5px;
        display:block;
        margin-bottom:5px;
        background-color: rgb(252, 252, 252);
    }
}