@media screen and (max-width:600px) {
    html {
        font-size: 50%;
        box-sizing: border-box;
    }

    .descricao > p:first-child {
        margin-bottom: 30px;
    }   

    .diferenca-txt {
        margin-bottom: 60px;
        
    }

    .diferenca-p {
        line-height: 30px;
    }
}

@media screen and (max-width:768px) {
    * {
        box-sizing: border-box;
    }
    #nav{display:none}

    .slide-inicial {
        position: relative;
        z-index: -1;
    }

    .container-pergunta {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }

    #burger {
        display:block;
        color:white;
    }
    #menuMobile {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        position: fixed;
        background-image:linear-gradient(to bottom,  var(--corPrincipal),  #342db3);
        height: 200px;
        width: 100%;
        z-index: 2;
    }

    #menuMobile a {

        padding: 20px;
        text-align: center;
        width: 100%;
        border:0px;
        position: relative ;
    }  

    #menuMobile a::after {
        transition: .35s ;
        content:' ';
        position: absolute;
        left: 0;
        bottom: 0;
        border: 1px solid white;
        width: 0%;
    }    


    #menuMobile a:hover::after {
        width: 100%;
    }

}


   