@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

@media screen and (max-width:1200px) {
        
    html {
        font-size: 65%;
    }
}

@media screen and (max-width:992px) {
    html {
        font-size: 60%;
    }

    .linkPrincipal {
        display: none;
    }

    .burger {
        display: block;
        color: white;
    }

    .burger::selection {
        background-color: transparent;
    }

    .menuMobile {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        background-image: linear-gradient(to bottom, var(--corPrincipal), #342db3);
        height: 200px;
        width: 100%;
        z-index: 2;
        -webkit-tap-highlight-color: transparent;
    }

    .menuMobile a {
        padding: 20px;
        text-align: center;
        width: 100%;
        border: 1px solid transparent;
        position: relative;
    }

    .menuMobile a::before {
        transition: .35s;
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid white;
        width: 0%;
    }

    .menuMobile a:hover::before {
        width: 100%;
    }

    #titulo-card:target, #titulo-recomendacao:target {
        scroll-margin-top: 300px;
        /* Cria uma margem quando o elemento é clicado */
    }

    #container-pergunta {
        padding: 40px;
    }


    #sites {
        grid-template-columns: 1fr;
    }

    .item {
        flex-direction: column;
        text-align: center;
        width: 500px;
        justify-content: center;
        margin: 0 auto 40px auto;
    }


    .item p {
        width: 100%;
        text-align: center;
    }

    .item img {
        width: 100%;
        height: 100%;
    }

    .item figure {
        width: 100%;
        margin: auto;
        border: 0;
    }

    .lado-esq-sites {
        order: 2;
    }
    

    .lado-dir-sites {
        order: 1;
        height: 100%;
    }

    .item a {
        order: 3;
        width: 100%;
    }

    .item a:hover {
    }

    .footer-geral {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-geral a {
        width: max-content;
    }

    .footer-geral div:not(.contatos) {
        margin-bottom: 40px;
    }

    .contatos-link {
        max-width: 300px;
    }
}

@media screen and (max-width:600px) {
    html {
        font-size: 55%;
    }

    #container-pergunta {
        padding: 40px;
    }

    .diferenca-p {
        line-height: 30px;
    }

    .diferenca-img {
        width: 250px;
    }

    .cards {
        flex-direction: column;
    }

    .container-card {
        width: max-content;
        height: max-content;
        min-height: auto;
        margin-bottom: 50px;
    }

    .container-card img {
        display: block;
        width: 50%;
        margin: auto;
    }

    /* requisitos */

    .texto-requisitos:first-child {
        margin-bottom: 210px;
    }

    .item {
        flex-direction: column;
        text-align: center;
        max-width: 75%;
    }


}


