@media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

@media screen and (max-width:600px) {
    html {
        font-size: 43%;
    }

    .linkPrincipal {
        display: none;
    }
    
    .burger {
        display: block;
        color: white;
    }

    .burger::selection {
        background-color: transparent;
    }

    .menuMobile {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        background-image: linear-gradient(to bottom, var(--corPrincipal), #342db3);
        height: 200px;
        width: 100%;
        z-index: 2;
        -webkit-tap-highlight-color: transparent;
    }

    .menuMobile a {
        padding: 20px;
        text-align: center;
        width: 100%;
        border: 1px solid transparent;
        position: relative;
    }

    .menuMobile a::before {
        transition: .35s;
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid white;
        width: 0%;
    }

    .menuMobile a:hover::before {
        width: 100%;
    }
    
    .slide-inicial {
        position: relative;
    }
    
    .container-pergunta {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .diferenca-p {
        line-height: 30px;
    }
    
    .diferenca-img {
        width: 250px;
    }

    .cards {
        flex-direction: column; 
    }

    .container-card {
        width: 80%;
        height: 100%;
        margin-bottom: 50px;
    }   
}



@media screen and (max-width:768px) {
    .menuMobile {
        display: none;
    }

    html {
        font-size: 50%;
    }
}