@import url('https://fonts.googleapis.com/css2?family=Allura&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;600&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
}

:root {
    --fonte-titulo-principal: 'Roboto Condensed', sans-serif;
    --font-fq: 'Allura', cursive;
    --fonte-link: 'Oswald', sans-serif;
    --fonte-texto: 'Open Sans', sans-serif;
    --fonte-cod: 'Fira Code', monospace;
    --corPrincipal: #1C1780;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    color: white;
}

body {
    font-size: 1.6rem;
    position: relative;
}

header {
    background: var(--corPrincipal);
    height: 78px;
    width: 100%;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 24%);
    position: sticky;
    z-index: 2;
    top: 0;
}

.menu {
    margin: auto;
    display: flex;
    max-width: 1000px;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    position: relative;
}

section:not(#slide-inicial, #recomendacao-pc) {
    max-width: 1368px;
}

.texto-logo {
    font: normal normal 2.5rem var(--fonte-titulo-principal);
    color: white;
}

span.letraCustom {
    font-family: var(--font-fq);
    font-size: 6rem;
}

.linkPrincipal {
    font-size: 2rem;
    display: block;
}

.linkPrincipal a {
    padding: 8px 15px;
    color: white;
    font-size: 1.2rem;
    font-family: var(--fonte-cod);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 2px;
    border-bottom: 1px solid transparent;
    transition: .2s linear;
}

.linkPrincipal a:hover {
    border-bottom: 1px solid white;
}

.burger, .menuMobile {
    display: none;
    cursor: pointer
}

main{
    margin: auto;
    margin-bottom: 150px;
}

#slide-inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 100%;
    background: grey url(../imagens/imagemDesenvolvedor.jpg) center center no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.container-pergunta {
    padding: 0px 90px;
}

#pergunta-principal {
    border-bottom: 3px solid white;
    box-shadow: 0 2px rgba(0, 0, 0, 0.307);
    color: white;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.307);
    font: normal bold 5.6rem var(--fonte-cod);
    margin-bottom: 40px;
}

#container-pergunta>#descricao-frontend {
    font: normal normal 1.8rem var(--fonte-titulo-principal);
    color: white;
    margin-top: 60px;
    padding-bottom: 50px;
}

#container-diferenca {
    margin: 100px auto 160px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

#diferenca-txt {
    width: 600px;
    padding: 0px 20px;
}

#diferenca-titulo {
    font: normal 600 2.5rem var(--fonte-texto);
    margin-bottom: 50px;
}

.diferenca-p {
    font: normal normal 1.8rem var(--fonte-texto);
    line-height: 45px;
    margin-bottom: 60px;
}

#diferenca-img {
    display: block;
    margin: auto;
    margin: 0 20px;
    margin-left: 50px;
    width: 350px;
}

#tecnologias-recomendadas {
    margin: auto;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 90px;
}

#titulo-card:target {
    scroll-margin-top: 150px;
    /* Cria uma margem quando o elemento é clicado */
}

#titulo-card {
    font: normal 600 2.5rem var(--fonte-texto);
    margin-bottom: 110px;
    padding: 20px;
    text-align: center;
    scroll-behavior: smooth;
}

#cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.container-card {
    width: 280px;
    /* 253px é o padrão para a img */
    height: auto;
    min-height: 530px;
    padding-bottom: 20px;
    border: 1px solid var(--corPrincipal);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.218);
    margin: 0 30px;
    margin-bottom: 30px;
}

.container-card img {
    width: 100%;
    object-fit: contain;
    border-radius: 30px 30px 0 0;
}

.card-texto {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    font: normal normal 1.5rem var(--fonte-texto);
}

.card-texto>h2 {
    margin: 15px 0;
    font-family: var(--fonte-cod);
}

.card-texto p {
    line-height: 35px;
}

.card-texto abbr {
    text-decoration: none;
    padding: 3px;
    border-radius: 2px;
    margin: 0 3px;
}

.card-html abbr {
    border: 1px solid #d84b1c;
}

.card-css abbr {
    border: 1px solid #317FBF;
}

.card-js abbr {
    border: 1px solid #E5A032;
}

.card-css ins {
    text-decoration: dashed;
}

/* Parte explicativa sobre o computador */

#recomendacao-pc {
    width: 100%;
    margin-bottom: 160px;
}

#requisitos-background {
    background: black center center url(../imagens/computadorMod.jpg) fixed no-repeat;
    background-size: cover;
    width: 100%;
}

#titulo-requisitos-pc {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal 600 2.5rem var(--fonte-texto);
    position: relative;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.222);
}

.texto-requisitos {
    margin: auto;
    padding: 0 30px 25px 30px;
    max-width: 550px;
    font: normal 1.6rem var(--fonte-texto);
    text-align: center;
    line-height: 30px;
    background-color: rgb(226, 223, 223);
}

.texto-requisitos:first-child {
    margin-bottom: 70px;
    border-radius: 0 0 10px 10px;
}

.texto-requisitos:nth-child(2) {
    padding: 30px 30px;
    border-radius: 10px 10px 0 0;
}

.paragrafo-requisitos>em {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #d84b1c;
    color: black;
}

#titulo-pc {
    font: normal bolder 3.4rem var(--fonte-texto);
    text-align: center;
    padding: 25px;
}

.paragrafo-requisitos {
    font-family: var(--fonte-texto);
    color: black;
}

.paragrafo-requisitos a {
    color: blueviolet;
}

/* Recomendação de Sites */

#sites-recomendados {
    width: 100%;
    margin: auto;
}

#titulo-recomendacao {
    text-align: center;
    font: normal bold 2.5rem var(--fonte-texto);
    margin-bottom: 40px;
    scroll-margin-top: 150px;
}

#descricao-recomendacao {
    max-width: 500px;
    padding: 30px;
    text-align: center;
    font: normal normal 1.8rem var(--fonte-texto);
    margin: 0 auto 100px auto;
}

#sites {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: auto;
}

.item {
    border-radius: 5px;
    min-height: 300px;
    max-width: max-content;
    margin: 20px;
    display: flex;
    width: auto;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.218);
    background: grey center center no-repeat;
    background-size: contain;
    background-blend-mode: color-burn;
}

.item figure {
    height: 92.17px;
    border-right: .1px solid black;
}

.item img {
    width: 250px;
    height: 92.17px;
    background-color: white;
    object-fit: contain;
}

.lado-esq-sites {
    display: flex;
    flex-direction: column;
}

.lado-esq-sites a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 150px;
    height: 60px;
    padding: 20px;
    cursor: pointer;
    background-image: linear-gradient(45deg, #8fc3ee, #65afeb);
    font: normal bold 1.4rem var(--fonte-cod);
    letter-spacing: .5px;
    transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
    color: #1C1780;
}

.lado-esq-sites a:hover {
    width: 100%;
    height: 100%;
}

.lado-esq-sites span {
    margin-right: 7px;
    font-size: 20px;
}

.lado-dir-sites {
    flex-wrap: wrap;
    display: flex;
    font: normal normal 1.5rem var(--fonte-texto);
    background-color: white;
    text-align: center;
}

.lado-dir-sites h2 {
    align-self: flex-start;
    width: 100%;
    padding: 10px 20px 0 20px;
}

.lado-dir-sites p {
    align-self: baseline;
    padding: 5px 30px;
    font-size: 1.7rem;
    border-radius: 10px;
}

.frontMentor {
    background-image: url(../imagens/frontend-mentor-challenges.png);
}

.w3c {
    background-image: url(../imagens/w3c-fundo.png);
}

.codecademy {
    background-image: url(../imagens/code-academy-fundo.png);
}

.codecademy img {
    object-fit: cover;
}

.mdn {
    background-image: url(../imagens/mdn-fundo.png);
    background-blend-mode: darken;
}


footer {
    width: 100%;
    height: max-content;
    background-color: var(--corPrincipal);
    color: white; 
    padding: 30px 40px;
    margin: auto;
}

.footer-geral{
    display: flex;
    align-items: flex-start;
    text-align: center;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font: normal normal 1.5rem var(--fonte-texto);
}

.footer-geral h2 {
    margin-bottom: 25px;
}

.footer-geral div {
    height: 150px;
    width: 400px;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.footer-geral a {
    max-height: 100%;
    display: flex;
    align-items: center;
}

.projetos-github a{
    display: flex;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;    
    color: white;
    border: 0px;
    position: relative;
}

.projetos-github a::before{
    content: ' ';
    border-top:1px solid transparent;
    border-left:1px solid transparent;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    position: absolute;
    border-radius: 5px;
    transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);    
}

.projetos-github a:hover::before {
    border-top:1px solid white;
    border-left:1px solid white;
    width: 100%;
    height: 100%;    
}

.projetos-github a::after {
    content: ' ';
    border-radius: 5px;
    border-bottom:1px solid transparent;
    border-right:1px solid transparent;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0%;
    position: absolute;
    transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);
}

.projetos-github a:hover::after{
    border-right:1px solid white;
    border-bottom:1px solid white;
    width: 100%;
    height: 100%; 
}

.projetos-github img {
    border-radius: 10px;
    width: 50px;
    margin-right: 8px;
}

/* Sobre o criador */

.sobre-o-criador a {
    width: max-content;
    margin: auto;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid transparent;
    transition: .2s linear;
}

.sobre-o-criador a:hover {
    border-bottom: 1px solid white;
}

.sobre-o-criador img{
    width: 60px;
    border-radius: 10px;
    margin-left: 8px;
}

.contatos img {
    width: 40px;
    margin-right: 8px;
}

.contatos a {
    padding: 10px;
    display: flex;
    width:max-content;
    margin: auto;
    align-items: center;
}

div.contatos-link {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: auto;

    flex-direction: column;

}

.contatos-link a {
    border: 0px;
    position: relative;
}

.contatos-link a::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 50%;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    width: 0%;
    transition: all .9s cubic-bezier(0.23, 1, 0.320, 1);
}

.contatos-link a:hover::after {
    width: 50%;
    border-bottom:1px solid white;
}

.contatos-link a::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    right:50% ;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    width: 0%;
    transition: all .9s cubic-bezier(0.23, 1, 0.320, 1);
}

.contatos-link a:hover::before {
    width: 50%;
    border-bottom: 1px solid white;
}

/* ACABEI FINALMENTE */